{{template "base.en.html" .}}
{{define "title"}}Blog{{end}}

{{define "content"}}
    <div id="blog-content-container"> <!-- New wrapper for flexbox layout -->
        <div id="sortbar">
            <div id="sortbar-elements">
                <span id="searchbar-controls">
                    <input
                        id="searchinput"
                        name="q"
                        type="text"
                        placeholder="Search posts..."
                        hx-get="/api/posts" 
                        hx-trigger="keyup changed delay:500ms, searchbutton.click"
                        hx-target="#post-list"
                        hx-swap="innerHTML"
                        hx-include="[name='search_by'], [name='sort_by']"
                    >
                    <button
                        id="searchbutton"
                        hx-get="/api/posts"
                        hx-target="#post-list"
                        hx-swap="innerHTML"
                        hx-include="#searchinput, [name='search_by'], [name='sort_by']"
                        class="submit-button"
                    >Search</button>

                    <span>Search By:</span>
                    <select
                        name="search_by"
                        hx-get="/api/posts"
                        hx-trigger="change"
                        hx-target="#post-list"
                        hx-swap="innerHTML"
                        hx-include="#searchinput, [name='sort_by']"
                    >
                        <option value="name" selected>Post Name</option>
                        <option value="tag">Tags</option>
                    </select>

                    <span>Sort By:</span>
                    <select
                        name="sort_by"
                        hx-get="/api/posts"
                        hx-trigger="change"
                        hx-target="#post-list"
                        hx-swap="innerHTML"
                        hx-include="#searchinput, [name='search_by']"
                    >
                        <option value="date-desc" selected>Most Recent</option>
                        <option value="date-asc">Least Recent</option>
                        <option value="alphabetical">Alphabetical</option>
                    </select>
                </span>
            </div>
        </div>

        <div id="scroll">
            <div id="post-list" class="post-holder">
                {{template "post_list_fragment.en.html" .}}
            </div>
        </div>
    </div> <!-- End of blog-content-container -->
{{end}}

{{define "post_list_fragment.en.html"}}
    {{with index .Data "Posts"}}
        {{range .}}
            {{template "postsummary.en.html" .}}
        {{end}}
    {{else}}
        <p>No posts found.</p>
    {{end}}
{{end}}